.slide.heptral {
	padding: 111px 13px 80px 77px;
	background-color: white;
	width: 1024px;
	height: 768px;
}

.heptral sup {
	font-size: 60%;
	vertical-align: super;
	line-height: 0;
}

.heptral h2 {
	font-size: 22px;
	color: #000000;
}

.heptral h3 {
	color: #000000;
	font: normal 400 18px PTSans;
}

.heptral .graph-wrapper .graph {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 100%;
	height: 301px;
}

.heptral .g-scale-v {
	bottom: -7px;
	top: -7px;
	left: -21px;
	font: normal 400 10px PTSans;
	color: #000000;
}

.heptral .g-scale-v .g-scale-item::after {
	content: '';
	position: absolute;
	display: block;
	bottom: 6px;
	left: 15px;
	width: 6px;
	height: 1px;
	background: #000000;
}

.heptral .g-scale-h {
	bottom: -8px;
	left: 55px;
	right: 99px;
}

.heptral .g-scale-h .g-scale-item {
	position: relative;
	font: normal 400 11px PTSans;
	text-align: center;
	width: 112px;
}

.heptral .g-scale-v.striped .g-scale-item:nth-of-type(4n)::before {
	content: '';
	position: absolute;
	display: block;
	top: -9px;
	left: 21px;
	width: 704px;
	height: 30px;
	background: #fafafa;
}

.heptral .g-scale-v .g-scale-label {
	width: 300px;
	left: -321px;
	top: 0;
	font: normal 400 11px PTSans;
	color: #000000;
}

.heptral .g-bargroup {
	left: 0;
	right: 0;
	bottom: 0;
}

.heptral .g-bar-nest {
	width: 112px;
	height: 100%;
}

.heptral .g-bar {
	width: 45px;
	height: 50px;
	border-radius: 10px 10px 0 0;
	background: pink;
}

.heptral .red-gradient .g-bar-value {
	color: #f26245;
}

.heptral .green-gradient .g-bar-value {
	color: #6a9c1a;
}

.heptral .grey-gradient .g-bar-value {
	color: #717171;
}

.heptral .graph-wrapper .legend .red-gradient::before, .heptral .g-bar.red-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9B81), to(#FB6040));
}

.heptral .graph-wrapper .legend .green-gradient::before, .heptral .g-bar.green-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#8FE819), to(#6ABA00));
}

.heptral .graph-wrapper .legend .grey-gradient::before, .heptral .g-bar.grey-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#b1b1b1));
}

.heptral .g-bar-value {
	font: normal 400 25px PTSans;
	position: absolute;
	top: -35px;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
}

.heptral .thumb-button {
	width: 745px;
}

.heptral .tooltip {
	display: none;
	z-index: 10;
}

.heptral .tooltip, .heptral .popup-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 15px 15px 15px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.38, rgb(254, 254, 254)), color-stop(0.69, rgb(247, 247, 247)));
	-webkit-box-sizing: border-box;
	padding: 41px 37px;
	border: solid 1px #f46c4e;
}

.heptral .close-popup, .in-slide-close, #pregnancyOfDepressionPop .close-button, #heptralPregnancyOfDepressionPopup .close-button, #heptralPopupMazilloPopup .close-button {
	background: url("../../media/images/common/tooltip-close.png");
	background-size: contain;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 210;
}

#heptralResearchMazilloPopup .close-button, #heptralPregnancyOfDepressionPopup .in-slide-close, #heptralResearchMazilloPopup .in-slide-close, #heptralPopupMazilloPopup .close-button {
	top: 167px;
	left: 82px;
}

#heptralPregnancyOfDepressionPopup.heptral {
	background-color: rgba(255, 255, 255, 0);
}

.heptral .tooltip.active {
	display: block;
}

.heptral .tooltip .tooltip-close {
	background: url("../../media/images/common/tooltip-close.png");
	background-size: contain;
	width: 51px;
	height: 51px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-appearance: none;
	outline: none;
	pointer-events: auto;
	border: none;
}

.heptral .tooltip h1 {
	color: #f26345;
}

.heptral .tooltip p {
	margin: 16px 0 0;
	font-size: 16px;
	color: #373737;
}

.heptral .tooltip.graph-tooltip p {
	font-size: 18px;
	white-space: nowrap;
}

.heptral .legend {
	position: absolute;
}

.heptral .legend li {
	position: relative;
	font: normal 400 11px/1.3 PTSans;
	margin-bottom: 7px;
}

.heptral .graph-wrapper .legend li::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: -2px;
	left: -23px;
	width: 17px;
	height: 17px;
}

.heptral .graph-wrapper .legend li.no-mark::before {
	display: none;
}

/*---------------------Animation--------------------------*/

.heptral .graph-wrapper.grow-up-bars .g-bar-nest {
	-webkit-transform-origin: 50% 100%;
	-webkit-transform: scaleY(0) translate3d(0, 0, 0);
}

.animate .heptral .graph-wrapper.grow-up-bars .g-bar-nest {
	-webkit-transition: 0.8s;
	-webkit-transform: scaleY(1) translate3d(0, 0, 0);
}

.animate .heptral .graph-wrapper.grow-up-bars .second-bar-nest.g-bar-nest {
	-webkit-transition-delay: 1.0s;
}

.animate .heptral .graph-wrapper.grow-up-bars .third-bar-nest.g-bar-nest {
	-webkit-transition-delay: 2.0s;
}

.animate .heptral .graph-wrapper.grow-up-bars .fourth-bar-nest.g-bar-nest {
	-webkit-transition-delay: 3.0s;
}

.animate .heptral .graph-wrapper.grow-up-bars .fifth-bar-nest.g-bar-nest {
	-webkit-transition-delay: 4.0s;
}

.heptral .graph-wrapper.grow-up-bars .g-bar-nest .g-bar-value {
	opacity: 0;
}

.animate .heptral .graph-wrapper.grow-up-bars .g-bar-nest .g-bar-value {
	-webkit-transition: 0.8s 3.0s;
	opacity: 1;
}

/*---------------------Animation end--------------------------*/

.heptral .green-bullets li {
	font-size: 15px;
	line-height: 22px;
	color: #000;
	margin: 0 0 20px 0;
	position: relative;
	padding: 0 0 0 23px;
}

.heptral .green-bullets li::before {
	content: '';
	display: block;
	background: url("../../media/images/common/bullet.png");
	background-size: contain;
	width: 17px;
	height: 18px;
	position: absolute;
	top: 2px;
	left: 0;
}

.heptral .scenario-footer {
	display: -webkit-box;
	background: url("../../media/images/common/footer-background.png") no-repeat left bottom;
	background-size: 100%;
	width: 100%;
	height: 136px;
	-webkit-box-align: end;
	pointer-events: none;
}

/*-----------PDF-----------*/

#instructions .open-button {
	position: absolute;
	left: 36px;
	bottom: 10px;
	width: 191px;
	height: 127px;
	-webkit-transform: translate3d(0, 0, 0);
	background: url("../../media/images/common/pack_new.png") no-repeat;
	background-size: contain;
	z-index: 1;
}

#instructions {
	z-index: 3;
	display: block;
}

#instructions .references-wrap-content {
	position: absolute;
	bottom: 130px;
	left: 52px;
	z-index: 10;
	width: 217px;
	padding: 20px 25px;
	box-sizing: border-box;
	border-radius: 9px;
	background: #fff;
	border: 2px solid #fff;
	box-shadow: 0 0 0 1px #d4d4d4, 0 0 2px rgba(0, 0, 0, 0.28);
	opacity: 0;
	pointer-events: none;
}

#instructions .references-wrap-content::before {
	content: "";
	height: 17px;
	width: 17px;
	background: #fff;
	box-shadow: 1px 1px 0 1px #d4d4d4;
	-webkit-transform: scaleX(0.8) rotate(45deg);
	transform: scaleX(0.8) rotate(45deg);
	position: absolute;
	bottom: -10px;
	left: 43px;
}

#instructions .references-wrap-content::after {
	content: "";
	width: 0;
	height: 0;
	border-color: #d45733 transparent transparent transparent;
	border-style: solid solid none solid;
	border-width: 16px 12px 0 12px;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	position: absolute;
	bottom: -11px;
	left: 40px;
}

#instructions .references-wrap-content ul {
	list-style: none;
	font: 400 14px/1.3 PTSans;
	color: #666;
	margin: 0;
	padding: 0;
}

#instructions .references-wrap-content co-text {
	padding-bottom: 9px;
}

#instructions .references-wrap-content co-text:last-child {
	padding-bottom: 0;
}

#instructions .references-wrap-content co-text:not(:first-of-type) {
	padding-top: 9px;
}

#instructions .references-wrap-content co-text:not(:last-of-type) {
	border-bottom: 1px solid #c9c9c9;
}

#instructions.opened .references-wrap-content {
	opacity: 1;
	pointer-events: auto;
}

/*------------end-pdf-------------*/

#heptralProductionPop .close-button, #heptralMechanismOfActionNewPop .close-button {
	background: url("../../media/images/common/close.png") 50% 50% no-repeat;
}

#heptralProductionPop, #heptralMechanismOfActionNewPop {
	background: #fff;
}

.heptral .scenario-block, .heptral .scenario-button {
	display: none;
}

#main .heptral .scenario-block {
	position: absolute;
	top: 40px;
	left: 96px;
	display: none;
}

#main .heptral .scenario-block .scenario-button {
	width: 79px;
	height: 59px;
	margin: 0 8px 0 0;
	color: transparent;
	border-radius: 0;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #92c72b;
}

#main .heptral .scenario-block.active {
	display: block;
}

/******* drum  ******/

.wheel-picker {
	background-color: #E7EDEF;
	width: 100%;
	height: 160px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	-webkit-transition: 250ms all linear 0ms;
	pointer-events: none;
	z-index: 1;
}

.picker-container {
	background: -webkit-gradient(linear, left top, left bottom, from(#ccd3d7), color-stop(50%, #ffffff), to(#ccd3d7));
	border-radius: 5px;
	border: 1px solid #aaa;
	width: 100%;
	height: 160px;
	pointer-events: none;
	overflow: hidden;
}

.wheel-picker .picker-container .items {
	height: 160px;
}

.wheel-picker-wrapper.active .wheel-picker-area {
	opacity: 1;
	pointer-events: auto;
	position: absolute;
	z-index: 1;
}

.wheel-picker-area {
	top: 0;
	left: 0;
	height: 180px;
	width: 290px;
	opacity: 0;
	-webkit-transition: opacity 300ms;
	pointer-events: none;
}

.wheel-picker .items.hidden {
	visibility: hidden;
}

.wheel-picker .items {
	position: relative;
	width: 100%;
	height: 100px;
	-webkit-transform-style: preserve-3d;
}

.wheel-picker .items li {
	position: absolute;
	top: 50%;
	width: 190px;
	-webkit-backface-visibility: hidden;
}

.popup.active {
	z-index: 4;
}

.number-of-heptral {
	position: absolute;
	text-align: center;
	top: 350px;
	right: 30px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	z-index: 4;
	font-size: 14px;
	color: #5e5e5e;
	font-family: PTSans;
}

#safestyPopup {
	background-color: white;
}

.no-display {
	display: none;
}

.in-slide-popup {
	width: 1024px;
	height: 768px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

.in-slide-popup>article {
	float: none;
}

#safestyPop .close-button:nth-child(2), #efectPop .close-button:nth-child(2), #farmPop .close-button:nth-child(2), #dosPop .close-button:nth-child(2) {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	left: auto;
	background: url("../../media/images/common/close.png") center no-repeat;
}

.thumbnails {
	z-index: 5;
}

.thumbs-open {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 150px;
}

.menu {
	z-index: 16;
}

#main~#safestyPop, #main~#efectPop, #main~#farmPop, #main~#dosPop {
	background: #fff;
	z-index: 10;
}

.mobile-slide .mobileBg {
	display: none;
}

article.slide .border-wrapper {
	height: 100%;
	width: 100%;
}

article.slide #videoPopup .close-button {
	opacity: 0;
}

#references-and-design.opened button.references-close-button {
	display: none;
}

.scroll-container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

@media
	/*iPhone 6,7,8*/

screen and (max-height: 640px) and (max-width: 1136px) and (orientation: landscape),
screen and (max-height: 750px) and (max-width: 1334px) and (orientation: landscape),
screen and (aspect-ratio: 16/9),
screen and (aspect-ratio: 18/9),
screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	body {
		height: 100%;
	}
	.mobileBg .approve.approve1.number-product1, .mobileBg .approve.approve2.number-product2, #shortReferences {
		position: absolute;
		display: block;
		transform: none;
		top: auto;
		left: auto;
		font-size: 6.9px;
		z-index: 20;
		width: auto;
		height: 11px;
		color: #333333;
		font-weight: normal;
		right: 3.9%;
		bottom: 2.5%;
	}
	.slide.mobile-slide #references-and-design .references .references-list {
		opacity: 0;
		background-color: transparent;
		border: none;
	}
	.slide.mobile-slide #references-and-design.opened .references.active .references-list {
		opacity: 1;
		border-radius: 0;
	}
	.slide.mobile-slide.mob #references-and-design.opened .references.active .references-list {
		border: 2px solid #eeeeee;
		border-radius: 6px;
		box-shadow: 0 0 0.56vw 0 rgba(0, 0, 0, 0.32);
	}
	.slide.mobile-slide #references-and-design .design .references-list {
		opacity: 0;
		background-color: transparent;
		border: none;
	}
	.slide.mobile-slide #references-and-design.opened .design.active .references-list {
		opacity: 1;
		border-radius: 0;
	}
	.mobileBg .approve.approve1.number-product1 {
		right: 18%;
		bottom: 2.5%;
	}
	#shortReferences {
		right: 16%;
		bottom: 2.9%;
	}
	article.slide.mobile-slide {
		margin: auto;
		width: 100%;
		background: transparent;
	}
	#indicators {
		display: none;
	}
	article.mobile-slide {
		display: block;
		width: 100%;
		height: 100%;
		background: white;
		padding: 0;
	}
	.mobile-slide h1, h2, .mobile-slide .ipad-slide-content, .mobile-slide .open-instructions-wrapper {
		display: none;
	}
	.mobile-slide .mobileBg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		margin: 0;
	}
	.mobile-slide .mobileContent, .mobile-slide .mobileBg {
		display: block;
	}
	.mobile-slide footer {
		display: none;
	}
	.mobile-slide .content-wrapper {
		top: 0;
		position: absolute;
		height: 100%;
		left: 0;
	}
	.slide.mobile-slide #references-and-design button.design-open-button, .slide.mobile-slide #references-and-design button.references-open-button {
		border: 0;
		border-radius: 15%;
		left: auto;
		right: 3.8%;
		bottom: 6.8%;
		width: 4.5%;
		height: 7.5%;
		top: auto;
		transform: none;
		z-index: 3;
		pointer-events: auto;
		box-shadow: none;
	}
	.mobile-slide.mob #references-and-design button::before {
		display: none;
	}
	.slide.mobile-slide #references-and-design button.references-open-button span, .slide.mobile-slide #references-and-design button.design-open-button span, .slide.mobile-slide #references-and-design button.references-open-button co-text, .slide.mobile-slide #references-and-design button.design-open-button co-text {
		color: transparent;
		background: none;
		display: none;
	}
	.slide.mobile-slide #references-and-design .design button.design-open-button {
		left: 85.8%;
		background: #008926 url("../../media/images/common/design-open-button.png") no-repeat;
		background-position: center;
		background-size: 70%, 90%;
	}
	.slide.mobile-slide #references-and-design button.references-open-button {
		background: #008926 url("../../media/images/common/references-open-button.png") no-repeat;
		background-size: 62%, 96%;
		background-position: center center;
	}
	.slide.mobile-slide #references-and-design.opened button.design-open-button, .slide.mobile-slide #references-and-design.opened button.references-open-button {
		top: 9.9%;
		right: 5.9%;
		left: auto;
		bottom: auto;
		width: 3.7%;
		height: 7.4%;
		background: url("../../media/images/common/refs-close.png") no-repeat;
		background-size: contain;
		background-position: center center;
	}
	.slide.mobile-slide div#references-and-design {
		width: 100%;
		top: 0;
		height: 100%;
		left: 100%;
		border: none;
		pointer-events: none;
		z-index: 10000;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	.slide.mobile-slide div#references-and-design.opened {
		pointer-events: auto;
	}
	.slide.mobile-slide #references-and-design button.references-close-button {
		background: url("../../media/images/common/refs-close.png") no-repeat;
		background-size: contain;
		right: 5.9%;
		top: 11.3%;
		height: 6.4%;
		transform: none;
		width: 3.6%;
		border: none;
		pointer-events: auto;
		z-index: 15;
		opacity: 0;
		display: block;
		position: absolute;
		box-shadow: none;
	}
	.slide.mobile-slide.mob #references-and-design button.references-close-button {
		border-radius: 0;
	}
	.slide.mobile-slide #references-and-design .references ol {
		padding: 0;
	}
	.slide.mobile-slide #references-and-design.opened button.references-close-button {
		opacity: 1
	}
	.slide.mobile-slide #references-and-design .references .scroll-container ul li,
	.slide.mobile-slide #references-and-design .design .scroll-container ul li {
		margin-bottom: 3.8%;
		font: 300 3vh/1.2 Calibri;
		color: #fff;
	}

	.slide.mobile-slide #references-and-design .references .scroll-container ul li br{
		display: none;
	}

	.slide.mobile-slide #references-and-design .references .scroll-container ul li::before,
	.slide.mobile-slide #references-and-design .design .scroll-container ul li::before {
		font: inherit;
		position: static;
	}
	.slide.mobile-slide #references-and-design .references .scroll-container ol li:last-child, .slide.mobile-slide #references-and-design .design .scroll-container ul li:last-child {
		margin-bottom: 0;
	}
	.slide.mobile-slide .approve.approve1.number-product1, .slide.mobile-slide .approve.approve2.number-product2, .slide.mobile-slide .number-of-heptral, #shortReferences {
		position: absolute;
		display: block;
		transform: none;
		top: auto;
		left: auto;
		font-size: 8px;
		z-index: 20;
		width: auto;
		height: 11px;
		color: #000;
		right: 3.5%;
		bottom: 2.7%;
		font-weight: 300;
	}
	.slide.mobile-slide .approve.approve1, .slide.mobile-slide .approve.approve2 {
		display: none;
	}
	.slide.mobile-slide .approve.approve2.number-product2 {
		right: 18%;
		bottom: 2.5%;
	}
	#shortReferences {
		right: 16%;
		bottom: 2.9%;
	}
	.slide.mobile-slide #references-and-design .scroll-container ol, .slide.mobile-slide #references-and-design .scroll-container ul {
		max-width: 94%;
		width: 94%;
		padding: 0;
	}
	article.slide.mobile-slide #references-and-design div.scroll-container {
		background: transparent;
		padding: 0;
		z-index: 4;
		border: none;
	}
	article.slide.mobile-slide #menu co-button, article.slide.mobile-slide #menu co-button.active {
		opacity: 0;
		display: none;
	}
	article.slide.mobile-slide .border-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		height: 86.7%;
		width: 92.7%;
		position: absolute;
		top: 6.8%;
		left: 3.7%;
		border-radius: 0.3em;
		background: linear-gradient(to right, #ccc, #eee);
		box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.32);
		opacity: 1;
		pointer-events: auto;
	}
	article.slide.mobile-slide #references-and-design.opened .references.active div.scroll-container, article.slide.mobile-slide #references-and-design.opened .design.active div.scroll-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		height: 85.2%;
		width: 91.8%;
		position: absolute;
		top: 7%;
		left: 3.85%;
		border: 2px solid #eeeeee;
		border-radius: 6px;
		background: #008926;
		opacity: 1;
		pointer-events: auto;
	}
	article.slide.mobile-slide.mob #references-and-design.opened .references.active div.scroll-container, article.slide.mobile-slide.mob #references-and-design.opened .design.active div.scroll-container {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: none;
		border-radius: 6px;
	}
	article.slide.mobile-slide #references-and-design div.scroll-container {
		background: transparent;
		padding: 0;
		z-index: 4;
		border: none;
	}
	article.slide.mobile-slide #references-and-design co-iscroll {
		height: 93%;
		width: 95.5%;
		margin: 0;
	}
	article.slide.mobile-slide .scroll-wrapper[co-iscroll] {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.slide.mobile-slide #references-and-design .iScrollScrollbar.show[co-iscroll] {
		opacity: 1;
		padding-top: 7%;
	}
	.slide.mobile-slide #references-and-design .iScrollIndicator[co-iscroll] {
		background: #fff;
		background-color: #fff;
		border: none;
		width: 70%;
	}
	article.slide #references-and-design .references, article.slide #references-and-design .design {
		background: transparent;
		width: 100%;
		height: 100%;
		padding: 0;
	}
	article.slide #references-and-design button:before {
		display: none;
	}
	article.slide.mobile-slide #openVideo {
		position: absolute;
		top: 56%;
		left: 90%;
		width: 5.3%;
		height: 9.2%;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
		z-index: 9999;
	}
	article.slide.mobile-slide #openVideo.open-video {
		top: 44%;
		left: 91%;
	}
	article.slide.mobile-slide #openVideo.open-video-2 {
		top: 50%;
		left: 91%;
	}
	article.slide.mobile-slide #videoPopup {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
		border: none;
		border-radius: 0;
		background: transparent;
		z-index: 10000;
		overflow: visible;
	}
	article.slide.mobile-slide co-popup .close-button.image[co-popup], co-popup.default .close-button[co-popup] {
		width: 100%;
		height: 100%;
		right: 0;
		opacity: 0;
	}
	article.slide.mobile-slide #femostonVideo {
		position: absolute;
		top: 4.5%;
		left: 16%;
		width: 67%;
		height: 90.8%;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
	article.slide.mobile-slide co-video.default .time-current[co-video], co-video.default .time-duration[co-video], co-video.default .separator[co-video] {
		font-size: 1em;
	}
	co-video.default.full-screen .time-duration[co-video] {
		font-size: 1em;
	}
	.mobileBg .co-popup {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
		background: transparent;
		z-index: 10000;
	}
	.mobileBg .co-popup .close-button {
		z-index: 1;
	}
	.mobileBg .co-popup .close-button[co-popup] {
		width: 8%;
		height: 14.3%;
		right: 4%;
		top: 5%;
	}
	.mobileBg co-popup .close-button[co-popup] co-container[co-popup] {
		width: 100%;
		height: 100%;
	}
	.mobileBg .co-popup .close-button[co-popup] co-image[co-popup] {
		width: 48.8%;
		height: 48.5%;
		top: 28%;
		left: 28%;
	}
	.mobileBg .popup-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
	.mobile-slide footer {
		bottom: auto;
		top: 0;
		background: none;
		width: 100%;
		height: 100%;
	}
	.slide.mobile-slide #bottomThumbnails {
		display: none;
	}
	article.mobile-slide .popup-close-button {
		transform: scale(0.8);
		top: 3%;
		right: 2%;
	}
}

@media only screen
	/*iPhone 6+,7+,8+*/

and (min-device-height: 414px) and (device-width: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
	article.slide.mobile-slide, body article.slide.mc2-2017.mobile-slide {
		width: 100%;
	}
	article.slide.mobile-slide .scroll-container {
		top: 0.6%;
	}
	article.mobile-slide .popup-close-button {
		transform: scale(0.8);
		top: 3%;
		right: 2%;
	}
}

@media only screen
	/*iPhone 6s Plus*/

and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.slide.mobile-slide .approve.approve1.number-product1, .slide.mobile-slide .approve.approve2.number-product2 {
		font-size: 2.15vh;
	}
	article.mobile-slide .popup-close-button {
		transform: scale(0.8);
		top: 3%;
		right: 2%;
	}
}

/*iPhone X*/

@media
	/*iPhone X*/

screen and (max-device-height: 375px) and (device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape), screen and (max-height: 375px) and (width:812px) and (orientation:landscape), screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	body {
		background: #99dcb7;
	}
	body article.slide.mobile-slide, body article.slide.mc2-2017.mobile-slide {
		background: transparent;
		width: 82.2%;
	}
	body article.slide.mobile-slide .scroll-container {
		width: 99.3%;
		height: 98.7%;
	}
	body article.slide.mobile-slide .border-wrapper {
		width: 92.9%;
	}
	.slide.mobile-slide .approve.approve1.number-product1, .slide.mobile-slide .approve.approve2.number-product2 {
		font-size: 2.15vh;
	}
	article.mobile-slide .popup-close-button {
		transform: scale(0.8);
		top: 3%;
		right: 2%;
	}
}

/*

@media only screen




and (max-device-height: 375px) and (device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
	body {
		background: #00a94c;
	}

	article.slide.mobile-slide,
	body article.slide.mc2-2017.mobile-slide {
		background: transparent;
		width: 82.2%;
	}

	body article.slide.mobile-slide .scroll-container {
		width: 99.3%;
		height: 98.7%;
	}

	body article.slide.mobile-slide .border-wrapper {
		width: 92.9%;
	}

	.slide.mobile-slide .approve.approve1.number-product1,
	.slide.mobile-slide .approve.approve2.number-product2 {
		font-size: 2.15vh;
	}

	article.mobile-slide .popup-close-button {
		transform: scale(0.8);
		top: 3%;
		right: 2%;
	}
}

@media only screen
and (device-height: 812px) and (device-width: 375px) and (-webkit-device-pixel-ratio: 3){
	body {
		background: #00a94c;
	}
	article.slide.mobile-slide,
	body article.slide.mc2-2017.mobile-slide {
		background: transparent;
		width: 82.2%;
	}
	body article.slide.mobile-slide .scroll-content-wrapper {
		width: 99.3%;
		height: 98.7%;
	}
	body article.slide.mobile-slide .border-wrapper {
		width: 92.9%;
	}
}*/

@media
	/*for devices with aspect-ratio: 18/9*/

screen and (aspect-ratio: 18/9) {
	body {
		background: #99dcb7;
	}
	body article.slide.mobile-slide, body article.slide.mc2-2017.mobile-slide {
		background: transparent !important;
		width: 89.2%;
	}
	body article.slide.mobile-slide .scroll-container {
		left: 0.3%;
		top: .6%;
	}
	body article.slide.mobile-slide .scroll-container {
		width: 99.4%;
	}
	article.mobile-slide .popup-close-button {
		transform: scale(0.8);
		top: 3%;
		right: 2%;
	}
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
	/*iPhone XR*/
	body {
		background-color: #7dce93;
	}
	article.slide.mobile-slide, body article.slide.mc2-2017.mobile-slide {
		background: transparent;
		width: 91.1%;
	}
}